
*{
	box-sizing: border-box;
	font-family: helvetica, arial, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.box.box-3{
	clear:both;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
}
.box.box-1, .box.box-2{
	width: 46.25%;
}
}

@media screen and (max-width: 767px) {
.box.box-1, .box.box-2, .box.box-3{
	clear:both;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
}
}

.test {
	margin: 0px;
}

h1 {
	margin-bottom: 4%;
	text-align: center;
}

h2 {
	text-align: center;
	background: orange;
	margin-top: 0px;
	border: 1px solid black;
	border-radius: 2px;
}


.box {
	background-color: grey;
	border: 1px solid black;
	border-radius: 4px;
	width: 30%;
	margin: 1%;
	position: relative;
	float: left;
}

.box-1{
	margin-left: 2.5%;
	margin-right: 1.25%;


}

.box-2{
	margin-right: 1.25%;
	margin-left: 1.25%;
	
}

.box-3 {
	margin-right: 2.5%;
	margin-left: 1.25%;
	
}

.title {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	padding: 2.5%;
	text-align: center;
	text-transform: capitalize;
	font-size: 100%;
	border: 1px solid black;
	border-radius: 4px;
	border-top: 0;
	border-right: 0;

}


.text{
	padding: 5%;
	padding-top: 10%;
	font-size: 100%;
}

.title.title-1 {
	background: #FFE4C4;
}

.title.title-2{
	background: #E9967A;
}